body {
    background-color: #f4f4f4;
    width: 100%;
    margin: 0;
overflow: hidden;
}

main {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: row;
    margin: 0 auto;
    background: white;
}

h1 {
    font-family: "Brandon Grotesque", Arial;
    color: #3b7489;
    margin: 45px 0 27px 0;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
   
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.content {
    width: 80%;
    height: 100%;
    margin: 0 20px;
}

.sidenav {
    background: #518fa6;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    height: 100vh;
}

.navitem {
    height: 20vh;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #3b7489;
}

    .navitem:last-child {
        border-bottom: 0;
    }

    .navitem:hover, .navitem.active {
        background: #3b7489;
    }

.navitem-img {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}

.table-head {
    background: #d5d5d5;
    display: flex;
    justify-content: space-between;
   padding: 5px 10px 5px 5px;
}

.head-item {
    font-family: "Brandon Grotesque", Arial;
    font-size: 18px;
    color: white;
    padding-right: 10px;
}

.table-body {
    overflow-y: scroll;
    height: 100%;
    max-height: 100vh;
}

.table-row {
    display: flex;
    justify-content: space-between;
  
    padding: 5px;
      background: #fcfbfb;
}

.name{
    background: #f4f4f4;
    font-weight: bold;
    width: 100%;
}

.table-item {
    color: #6c6b6b;
    font-size: 18px;
    font-family: "Brandon Grotesque", Arial;
    padding-right: 10px;
    padding-top: 5px;
    word-break: break-word;
}

.long {
    width: 20%;
}

.short {
    width: 10%;
}

.medium {
    width: 10%;
}

.medium-img {
padding-right:0;
}

.post-img {
    height: auto;
    width: 100%;
    vertical-align: text-top;
}

.glyphicon {
    color: white;
    font-size: 16px;
    display: inline;
}

.link {
     color: #6c6b6b;
}
.link:hover {
text-decoration: underline;
     opacity: 0.5;
}