body {
    background-color: #f4f4f4;
    width: 100%;
}

main {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: row;
    margin: 0 auto;
    background: white;
}

h1 {
    font-family: "Brandon Grotesque", Arial;
    color: #3b7489;
    margin: 45px 0 27px 0;
}

.content {
    width: 80%;
    margin: 0 20px;
}

.sidenav {
    background: #518fa6;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    height: 100vh;
}

.navitem {
    height: 20vh;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #3b7489;
}

    .navitem:last-child {
        border-bottom: 0;
    }

    .navitem:hover, .navitem.active {
        background: #3b7489;
    }

.navitem-img {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}

.table-head {
    background: #d5d5d5;
    display: flex;
    justify-content: space-between;
    ;
    padding: 5px;
}

.head-item {
    font-family: "Brandon Grotesque", Arial;
    font-size: 18px;
    color: white;
    padding-right: 10px;
}

.table-body {
    overflow-y: scroll;
    height: 100%;
    max-height: 80vh;
}

.table-row {
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    height: 70px;
    padding: 5px;
}

    .table-row.second {
        background: #fcfbfb;
    }

.table-item {
    color: #6c6b6b;
    font-size: 18px;
    font-family: "Brandon Grotesque", Arial;
    width:;
    padding-right: 10px;
    padding-top: 5px;
}

.long {
    width: 20%;
}

.short {
    width: 10%;
}
